<h1 style="color: cornflowerblue">Insertar nuevo perro</h1>
<a asp-controller="Users" asp-action="Perfil" class="btn" style="background-color: mediumpurple">Volver al perfil</a>
<a asp-controller="Users" asp-action="ListaPerros" class="btn" style="background-color: cornflowerblue">Volver a lista de perros</a>
<div class="container-fluid w-25 mt-4">
    <form method="post" style="text-align: left" enctype="multipart/form-data">
        <label>Nombre</label><br />
        <input type="text" name="nombre" class="form-control-sm" required /><br />
        <label>Estatura</label><br />
        <select name="estatura" class="form-control-sm">
            @foreach (String i in Enum.GetNames(typeof(Enumerations.Estaturas)))
            {
                <option value="@i">@i</option>
            }
        </select><br /><br />
        <input type="file" name="fichero" /><br /><br />
        <button type="submit" class="btn btn-success">Nuevo</button>
    </form>
</div>

@section styles
{
    <style>
        body {
            background-size: cover !important;
        }
    </style>
}