<h1 style="color: cornflowerblue">Nueva reservas para @Context.User.Identity.Name</h1>
<a asp-controller="Users" asp-action="Perfil" class="btn btn-info">Volver al perfil</a>

@section styles
{
    <style>
        body {
            background-size: cover !important;
        }
    </style>
}