@model List<Perro>
<h1 style="color: blueviolet" class="mb-5">Zona personal de @Context.User.Identity.Name</h1>

<div class="card-deck" style="display: flex">
    <div class="card col-3 mx-auto">
        <img class="card-img-top" src="~/images/datos.jpg">
        <div class="card-body">
            <h5 class="card-title">Datos Personales</h5>
            <p class="card-text">Aquí puedes editar todos tus datos de perfil</p>
            <a asp-controller="Users" asp-action="DatosUser" class="btn btn-primary">Editar perfil</a>
        </div>
    </div>
    <div class="card col-3 mx-auto">
        <img class="card-img-top" src="~/images/perros2.jpg">
        <div class="card-body">
            <h5 class="card-title">Perros</h5>
            <p class="card-text">Zona para editar los datos de tus queridos amigos :)</p>
            <div class="btn-group dropup">
                <a asp-controller="Users" asp-action="ListaPerros" class="btn btn-primary">Mis perros</a>
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    @foreach (Perro perro in Model)
                    {
                        <li>
                            <a asp-controller="Users" asp-action="DatosPerro"
                               asp-route-idperro="@perro.IdPerro"
                               class="dropdown-item">@perro.Nombre</a>
                        </li>
                    }
                </ul>
            </div><br /><br />
            <a asp-controller="Users" asp-action="InsertarPerro" asp-route-idusu="@Context.User.FindFirst(ClaimTypes.Sid)" class="btn btn-primary">Nuevo</a>
        </div>
    </div>
    <div class="card col-3 mx-auto">
        <img class="card-img-top" src="~/images/reservas2.jpg">
        <div class="card-body">
            <h5 class="card-title">Reservas</h5>
            <p class="card-text">Revisa o edita tus reservas</p>
        </div>
    </div>
</div>