<div class="mb-3">
    <img style="width: 18%; height: 18%" src="~/images/logoazul.gif" />
</div>

<div class="container-fluid">
    <div class="mx-auto mb-5" style="width: 70%">
        <h1>
            La primera guardería de día para perros en Carabanchel
        </h1>
    </div>

    <hr class="mx-auto" style="width: 70%; height: 3px; color: #000000" />

    <div class="mt-4 mx-auto row" style="width: 70%">
        <h4 align="left">¿Cómo surgió la idea de este proyecto?</h4>
        <div class="col-7 my-auto" style="margin-right: auto">
            <p style="font-size: 20px; text-align: justify">
                La idea de este negocio surgió por el amor a los animales y por la
                dedicación a ellos que siempre hemos tenido, pues nos hemos dedicado
                a pasear perros y cuidar de ellos en casa desde hace varios años.
                Entonces decidimos que sería una idea genial tener un lugar donde
                cuidar de tu mascota, para que no esté sola tantas horas al día y
                además disfrute de la compañía de sus amig@@s
            </p>
        </div>
        <div class="col-4 my-4" style="margin-right: 0">
            <img src="~/images/perropatita.jpg" class="w-75" />
        </div>
    </div>

    <hr class="mx-auto" style="width: 70%; height: 3px; color: #000000" />

    <div class="mt-4 mx-auto row" style="width: 70%">
        <h4 align="right">¿Cómo funciona la guardería?</h4>
        <div class="col-4 my-4">
            <img src="~/images/6.jpg" class="w-75" />
        </div>
        <div class="col-8 my-auto">
            <p style="font-size: 20px; text-align: justify">
                La idea es ocuparnos de tu amig@@ cuando tú no puedas. Puedes dejarl@@
                todas las mañanas cuando vas a trabajar o sólo algunos días o por
                horas ... TÚ decides, nos adaptamos a ti, a tu perro y a vuestras
                necesidades.
                Aquí disfrutará de la compañía de sus amig@s, de buenos paseos llenos
                de ejercicio, de juegos y actividades estimulantes y de un entorno
                lleno de la mejor energía, ya que nos ocupamos de que todos los
                perros entren en el grupo adecuado.
            </p>
        </div>
    </div>

    <hr class="mx-auto" style="width: 70%; height: 3px; color: #000000" />

    <div class="mt-4 mx-auto row" style="width: 70%">
        <h4 align="left">¿Cómo es la guardería?</h4>
        <div class="col-7 my-auto" style="margin-right: auto">
            <p style="font-size: 20px; text-align: justify">
                No nos gustan las jaulas, queremos que todos los peludos estén como
                en su propia casa, que disfruten de un entorno relajado y divertido
                y que sean libres de jugar, correr y saltar.
                Las salas estarán adaptadas a los perretes en todos los sentidos.
                Serán diáfanas, espaciosas, con suelo antideslizante, con algunas
                camas y juguetes.

                Sólo tendrás que preocuparte de traer a tu amig@@ y de recogerl@@, de
                lo demás ya nos ocupamos nosotr@s ;)
            </p>
        </div>
        <div class="col-4 my-4" style="margin-right: 0">
            <img src="~/images/5.jpg" class="w-75" />
        </div>
    </div>

    <hr class="mx-auto" style="width: 70%; height: 3px; color: #000000" />

    <div class="mt-2 mx-auto row" style="width: 70%">
        <h4 align="center">Horario</h4>
        <div class="col-4">
            <img src="~/images/3.jpg" class="w-75" />
        </div>
        <div class="col-4">
            <p style="font-size: 20px; text-align: justify">
                De lunes a viernes: 8 a 14 - 15 a 21
            </p>
            <p style="font-size: 20px; text-align: justify">
                Sábados: 8 a 14
            </p>
            <p style="font-size: 20px; text-align: justify">
                Cualquier duda o petición especial que tengas, no dudes en contactar con nosotr@s
            </p>
        </div>
        <div class="col-4">
            <img src="~/images/muchosperros.jpg" class="w-75" />
        </div>
    </div>

    <hr class="mx-auto" style="width: 30%; height: 2px; color: black" />
</div>