<div class="container-fluid">
    <div class="mx-auto mb-5" style="width: 70%">
        <h1>
            Para que nos conozcas un poco más
        </h1>
    </div>

    <div class="mx-auto mb-5 row" style="width: 70%; display: flex">
        <div class="col-5 mx-auto">
            <img src="~/images/fotico.jpg" style="width: 85%" />
        </div>
        <div class="col-5 mx-auto">
            <img src="~/images/fotico2.jpg" style="width: 88%" />
        </div>
    </div>

    <hr class="mx-auto" style="width: 70%; height: 3px; color: #000000" />

    <div class="mt-4 mx-auto row" style="width: 70%">
        <div class="col-7 my-auto" style="margin-right: auto">
            <p style="font-size: 20px; text-align: justify">
                Somos un equipo de jóvenes profesionales, amantes de los animales y
                sobre todo de los perretes. Llevamos años dedicando nuestro tiempo
                a los animales, somos expert@@s en paseo, alojamiento,
                adiestramiento y comportamiento canino.

                Nos encanta lo que hacemos, somos apasionad@@s con nuestro trabajo ya
                que para nosotr@@s es una suerte poder dedicar nuestro tiempo a los
                animales.
            </p>
        </div>
        <div class="col-5 my-4" style="margin-right: 0">
            <img src="~/images/gente.jpg" class="w-75" />
        </div>
    </div>

    <hr class="mx-auto" style="width: 70%; height: 3px; color: #000000" />

    <div class="mt-4 mx-auto row" style="width: 70%">
        <h2 align="right">Este es nuestro maravilloso equipo:</h2>
        <div class="col-4 my-4">
            <img src="~/images/emple1.jpg" class="w-75" />
        </div>
        <div class="col-8 my-auto">
            <p style="font-size: 20px; text-align: justify">
                <b>Roberto:</b> Es nuestro hombre para todo. Es nuestro monitor,
                nuestro adiestrador canino y todo un experto en comportamiento
                canino. También dedica su tiempo a los paseos diarios y ayuda
                a nuestro veterinario, ya que tiene conocimientos básicos de veterinaria.
                Vamos, todo un portento.
            </p>
        </div>
    </div>
    <div class="mt-4 mx-auto row" style="width: 70%">
        <div class="col-4 my-4">
            <img src="~/images/emple2.jpg" class="w-75" />
        </div>
        <div class="col-8 my-auto">
            <p style="font-size: 20px; text-align: justify">
                <b>Nazaret:</b> La encargada de que todos los peludos estén sanos y felices.
                Una magnífica monitora y además auxiliar vetarinaria con mucha
                experiencia y un conocimiento sobre salud perruna inigualable.
            </p>
        </div>
    </div>
    <div class="mt-4 mx-auto row" style="width: 70%">
        <div class="col-4 my-4">
            <img src="~/images/emple3.jpg" class="w-75" />
        </div>
        <div class="col-8 my-auto">
            <p style="font-size: 20px; text-align: justify">
                <b>Violeta:</b> Nuestra monitora de perros por excelencia. Experta en
                dar amor, caricias y achuchones a los peludos cuando más lo
                necesiten. También una paseadora de perros muy experimentada.
            </p>
        </div>
    </div>

    <hr class="mx-auto" style="width: 70%; height: 3px; color: #000000" />
</div>