<div class="container-fluid">
    <div class="mx-auto mb-5" style="width: 70%">
        <h1>
            Estas son nuestras tarifas
        </h1>
    </div>

    <div class="mx-auto mb-5 row" style="width: 70%; display: flex">
        <p style="font-size: 20px; text-align: justify">
            Ajustamos todo lo posible los precios en relación a la calidad de
            nuestros servicios. Queremos que todos los perretes disfruten y
            estén en un entorno lo más positivo para ellos y todo esto tiene
            un coste.

            La forma en la que contrates nuestros servicios depende de tus
            necesidades y las de tu perrete. Tenemos bonos para adaptarnos
            a vosotr@@s lo máximo posible.

            Disponemos de bonos anuales, mensuales, diarios o incluso por
            horas. Queremos adaptarnos a ti lo máximo posible, por eso
            tenemos tanta variedad.
        </p>
    </div>

    <div class="mt-4 mx-auto row" style="width: 70%">
        <h2>Estos son nuestros precios:</h2>
    </div>

    <hr class="mx-auto mt-0 mb-5" style="width: 30%; height: 3px; color: #000000" />

    <div class="my-5 mx-auto row" style="width: 70%">
        <div class="col-5 my-auto" style="margin-right: auto">
            <h3><u>BONOS MENSUALES</u></h3>
            <dl style="font-size: 20px">
                <dt><b>Parcial (Máximo 6h):</b></dt>
                <dd>190€</dd>
                <dt><b>Completa (Las horas que necesites):</b></dt>
                <dd>295€</dd>
            </dl>
        </div>
        <div class="col-5 my-auto" style="margin-left: auto">
            <h3><u>BONOS DE 10 DÍAS</u></h3>
            <dl style="font-size: 20px">
                <dt><b>Parcial (Máximo 6h):</b></dt>
                <dd>110€</dd>
                <dt><b>Completa (Sin horario):</b></dt>
                <dd>160€</dd>
            </dl>
        </div>
    </div>
    <div class="my-5 mx-auto row" style="width: 70%">
        <div class="col-5 my-auto" style="margin-right: auto">
            <h3><u>DÍAS SUELTOS</u></h3>
            <dl style="font-size: 20px">
                <dt><b>Parcial (Máximo 6h):</b></dt>
                <dd>15€</dd>
                <dt><b>Completa (Más de 6h):</b></dt>
                <dd>20€</dd>
            </dl>
        </div>
        <div class="col-5 my-auto" style="margin-left: auto; font-size: 20px">
            <h3><u>HORAS SUELTAS</u></h3>
            <p><b>1 hora:</b> 6€</p>
            <p><b>2 horas:</b> 8€</p>
            <p><b>3 horas:</b> 10€</p>
            <p><b>4 horas:</b> 12€</p>
            <p><b>5 horas:</b> 14€</p>
        </div>
    </div>

    <div class="mt-4 mx-auto row" style="width: 70%">
        <h3>Disfruta de nuestros descuentos:</h3>
    </div>

    <hr class="mx-auto mt-0 mb-5" style="width: 30%; height: 3px; color: #000000" />

    <div class="my-5 mx-auto row" style="width: 70%">
        <div class="col-7 m-auto">
            <dl style="font-size: 20px">
                <dt><b>Segundo perro:</b></dt>
                <dd>10% descuento (en bonos)</dd>
                <dt><b>Tercer perro:</b></dt>
                <dd>20% descuento (en bonos)</dd>
                <dt><b>Perros adoptados:</b></dt>
                <dd>10% descuento (Primera compra)</dd>
                <dd>5%  descuento (Para siempre)</dd>
            </dl>
        </div>
    </div>

    <hr class="mx-auto" style="width: 70%; height: 3px; color: #000000" />
</div>