<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Proyecto Tajamar (.NET Core) 'GuauHouse'">
    <meta name="author" content="Nazaret de la Calle Miján">
    <title>Guau House</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/navbar.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Guau House</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#minavbar" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @*<partial name="_PartialViewMenu" />*@
            <div class="collapse navbar-collapse mx-auto" id="minavbar">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" asp-controller="Home" asp-action="Index">Nuestra guardería</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Quiénes somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Tarifas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Users" asp-action="Perfil">Perfil</a>
                    </li>
                    <partial name="_PartialViewBotonUsuario" />
                </ul>
            </div>
        </div>
    </nav>
    <main class="align-items-center">
        <div class="starter-template text-center">
            @RenderBody()
        </div>
    </main>
    <footer class="footer mt-auto py-1 bg-dark fixed-bottom">
        <div class="container">
            <span class="text-white">&copy; Guau House 2021</span>
        </div>
    </footer>
    <script src="~/js/jquery-3.5.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>