@if (Context.User.IsInRole("2"))
{
    <li class="nav-item active">
        <a class="nav-link" aria-current="page" asp-controller="Home" asp-action="Index">Nuestra guardería</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="Nosotros">Quiénes somos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="Tarifas">Tarifas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="Contacto">Contacto</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-warning rounded" asp-controller="Users" asp-action="Perfil">Perfil</a>
    </li>
}
@*else if (Context.User.IsInRole("1"))
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Users" asp-action="IndexAdmin">Admin</a>
        </li>
    }
    else if (Context.User.IsInRole("3"))
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Users" asp-action="IndexEmpleado">Empleado</a>
        </li>
    }*@
else if (Context.User.Identity.IsAuthenticated == false)
{
    <li class="nav-item active">
        <a class="nav-link" aria-current="page" asp-controller="Home" asp-action="Index">Nuestra guardería</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="Nosotros">Quiénes somos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="Tarifas">Tarifas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="Contacto">Contacto</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-warning rounded" asp-controller="Users" asp-action="Perfil">¡¡Reserva ahora!!</a>
    </li>
}