@if (Context.User.IsInRole("2"))
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Users" asp-action="Perfil">Perfil</a>
    </li>
}
else if (Context.User.IsInRole("1"))
{
    <li class="nav-item">
        @*<a class="nav-link" asp-controller="Admins" asp-action="Perfil">Admin</a>*@
        <a class="nav-link" href="#">Admin</a>
    </li>
}
else if (Context.User.IsInRole("3"))
{
    <li class="nav-item">
        @*<a class="nav-link" asp-controller="Empleados" asp-action="Perfil">Empleado</a>*@
        <a class="nav-link" href="#">Empleado</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Users" asp-action="Perfil">Perfil</a>
    </li>
}