<h1 style="color: red">Usuario/Password incorrectos</h1>
<a asp-action="Perfil" asp-controller="Users" class="btn btn-info">Prueba otra vez</a>

@section styles
{
    <style>
        body {
            background-size: cover !important;
        }
    </style>
}