<h1 style="color: red">Usuario/Email ya existe</h1>
<a asp-action="Registro" asp-controller="Identity" class="btn btn-info">Prueba otra vez</a>

@section styles
{
    <style>
        body {
            background-size: cover !important;
        }
    </style>
}