USE [master]
GO
/****** Object:  Database [GuauHouse]    Script Date: 17/02/2021 13:31:21 ******/
CREATE DATABASE [GuauHouse]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GuauHouse', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GuauHouse.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GuauHouse_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GuauHouse_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GuauHouse].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GuauHouse]
GO
/****** Object:  Table [dbo].[PERROS]    Script Date: 17/02/2021 13:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERROS](
	[ID] [int] NOT NULL,
	[IDUSU] [int] NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[ESTATURA] [nvarchar](10) NULL,
	[FOTO] [nvarchar](30) NULL,
	[FECHA_ALTA] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESERVAS]    Script Date: 17/02/2021 13:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVAS](
	[ID] [int] NOT NULL,
	[IDUSU] [int] NULL,
	[IDPER] [int] NULL,
	[FECHA] [datetime] NULL,
	[TURNO] [nvarchar](6) NULL,
	[FECHA_ALTA] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[reservasdeusuario]    Script Date: 17/02/2021 13:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[reservasdeusuario]
AS
	SELECT R.ID, R.IDUSU, R.IDPER, P.NOMBRE AS NOMBREPERRO, R.FECHA, R.TURNO, R.FECHA_ALTA
	FROM PERROS P INNER JOIN RESERVAS R ON (P.ID = R.IDPER)
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 17/02/2021 13:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[ID] [int] NOT NULL,
	[ROL] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 17/02/2021 13:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[ID] [int] NOT NULL,
	[USUARIO] [nvarchar](18) NULL,
	[PASS] [nvarchar](18) NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[APELLIDOS] [nvarchar](50) NULL,
	[DNI] [nvarchar](9) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[TELEFONO] [nvarchar](9) NULL,
	[IMAGEN] [nvarchar](50) NULL,
	[ROL] [int] NULL,
	[FECHA_ALTA] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PERROS] ([ID], [IDUSU], [NOMBRE], [ESTATURA], [FOTO], [FECHA_ALTA]) VALUES (1, 4, N'Sissel', N'Grande', N'galgo2.jpg', CAST(N'2021-02-16T00:00:00.000' AS DateTime))
INSERT [dbo].[PERROS] ([ID], [IDUSU], [NOMBRE], [ESTATURA], [FOTO], [FECHA_ALTA]) VALUES (2, 3, N'Noa', N'Mediano', N'galgo2.jpg', CAST(N'2021-02-16T00:00:00.000' AS DateTime))
INSERT [dbo].[PERROS] ([ID], [IDUSU], [NOMBRE], [ESTATURA], [FOTO], [FECHA_ALTA]) VALUES (3, 3, N'Zazú', N'Mediano', N'zazu.jpg', CAST(N'2021-02-16T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[RESERVAS] ([ID], [IDUSU], [IDPER], [FECHA], [TURNO], [FECHA_ALTA]) VALUES (2, 3, 2, CAST(N'2021-02-18T00:00:00.000' AS DateTime), N'Mañana', CAST(N'2021-02-17T03:57:11.680' AS DateTime))
INSERT [dbo].[RESERVAS] ([ID], [IDUSU], [IDPER], [FECHA], [TURNO], [FECHA_ALTA]) VALUES (3, 3, 2, CAST(N'2021-02-19T00:00:00.000' AS DateTime), N'Tarde', CAST(N'2021-02-17T03:43:46.033' AS DateTime))
INSERT [dbo].[RESERVAS] ([ID], [IDUSU], [IDPER], [FECHA], [TURNO], [FECHA_ALTA]) VALUES (5, 4, 1, CAST(N'2021-02-18T00:00:00.000' AS DateTime), N'Mañana', CAST(N'2021-02-16T23:09:15.580' AS DateTime))
GO
INSERT [dbo].[ROLES] ([ID], [ROL]) VALUES (1, N'admin')
INSERT [dbo].[ROLES] ([ID], [ROL]) VALUES (2, N'usuario')
INSERT [dbo].[ROLES] ([ID], [ROL]) VALUES (3, N'empleado')
GO
INSERT [dbo].[USUARIOS] ([ID], [USUARIO], [PASS], [NOMBRE], [APELLIDOS], [DNI], [EMAIL], [TELEFONO], [IMAGEN], [ROL], [FECHA_ALTA]) VALUES (1, N'naza', N'naza', N'Nazaret', N'de la Calle Miján', N'50628847Z', N'naza@gmail.com', N'627465604', NULL, 1, CAST(N'2021-02-16T00:00:00.000' AS DateTime))
INSERT [dbo].[USUARIOS] ([ID], [USUARIO], [PASS], [NOMBRE], [APELLIDOS], [DNI], [EMAIL], [TELEFONO], [IMAGEN], [ROL], [FECHA_ALTA]) VALUES (2, N'vio', N'vio', N'Violeta', N'de la Calle Miján', N'50675348S', N'vio@gmail.com', N'611528490', N'emple3.jpg', 3, CAST(N'2021-02-16T00:00:00.000' AS DateTime))
INSERT [dbo].[USUARIOS] ([ID], [USUARIO], [PASS], [NOMBRE], [APELLIDOS], [DNI], [EMAIL], [TELEFONO], [IMAGEN], [ROL], [FECHA_ALTA]) VALUES (3, N'rober', N'rober', N'Roberto123', N'Gómez Ortiz', N'50254312Z', N'rober@gmail.com', N'610842487', N'falsorober2.jpg', 2, CAST(N'2021-02-16T00:00:00.000' AS DateTime))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USUARIOS__161CF724BECB2F60]    Script Date: 17/02/2021 13:31:21 ******/
ALTER TABLE [dbo].[USUARIOS] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USUARIOS__E251F484C6CA472A]    Script Date: 17/02/2021 13:31:21 ******/
ALTER TABLE [dbo].[USUARIOS] ADD UNIQUE NONCLUSTERED 
(
	[USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PERROS]  WITH CHECK ADD FOREIGN KEY([IDUSU])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[RESERVAS]  WITH CHECK ADD FOREIGN KEY([IDPER])
REFERENCES [dbo].[PERROS] ([ID])
GO
ALTER TABLE [dbo].[RESERVAS]  WITH CHECK ADD FOREIGN KEY([IDUSU])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD FOREIGN KEY([ROL])
REFERENCES [dbo].[ROLES] ([ID])
GO
USE [master]
GO
