USE [master]
GO
/****** Object:  Database [GuauHouse]    Script Date: 17/02/2021 6:35:34 ******/
CREATE DATABASE [GuauHouse]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GuauHouse', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GuauHouse.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GuauHouse_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GuauHouse_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GuauHouse].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GuauHouse]
GO
/****** Object:  Table [dbo].[PERROS]    Script Date: 17/02/2021 6:35:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERROS](
	[ID] [int] NOT NULL,
	[IDUSU] [int] NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[ESTATURA] [nvarchar](10) NULL,
	[FOTO] [nvarchar](30) NULL,
	[FECHA_ALTA] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESERVAS]    Script Date: 17/02/2021 6:35:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVAS](
	[ID] [int] NOT NULL,
	[IDUSU] [int] NULL,
	[IDPER] [int] NULL,
	[FECHA] [datetime] NULL,
	[TURNO] [nvarchar](6) NULL,
	[FECHA_ALTA] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[reservasdeusuario]    Script Date: 17/02/2021 6:35:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[reservasdeusuario]
AS
	SELECT R.ID, R.IDUSU, R.IDPER, P.NOMBRE AS NOMBREPERRO, R.FECHA, R.TURNO, R.FECHA_ALTA
	FROM PERROS P INNER JOIN RESERVAS R ON (P.ID = R.IDPER)
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 17/02/2021 6:35:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[ID] [int] NOT NULL,
	[ROL] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 17/02/2021 6:35:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[ID] [int] NOT NULL,
	[USUARIO] [nvarchar](18) NULL,
	[PASS] [nvarchar](18) NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[APELLIDOS] [nvarchar](50) NULL,
	[DNI] [nvarchar](9) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[TELEFONO] [nvarchar](9) NULL,
	[IMAGEN] [nvarchar](50) NULL,
	[ROL] [int] NULL,
	[FECHA_ALTA] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PERROS]  WITH CHECK ADD FOREIGN KEY([IDUSU])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[RESERVAS]  WITH CHECK ADD FOREIGN KEY([IDPER])
REFERENCES [dbo].[PERROS] ([ID])
GO
ALTER TABLE [dbo].[RESERVAS]  WITH CHECK ADD FOREIGN KEY([IDUSU])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD FOREIGN KEY([ROL])
REFERENCES [dbo].[ROLES] ([ID])
GO
USE [master]
GO